<div class="row bookRow">
  <div class="small-2 columns">
    <%= image_from_amazon(book.amazon_id) %>
    <p><%= book.rating %>/10</p>
  </div>
  <div class="small-8 columns end">
    <p><%= link_to book.title, edit_book_path(book) %></p>
    <p>Written by <%= book.author %></p>
    <p><%= book.description %></p>
    <% book.genres.each do |genre| %>
      <span class="label" style="margin-bottom: 1.5em"><%= genre.name %></span>
    <% end %>
  </div>
</div>