<%= form_for(@book || Book.new) do |f| %>
  <div class="row">
    <div class="small-1 columns">
      <%= f.label :title, class: "inline" %><br>
    </div>
    <div class="small-4 columns end">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <div class="small-1 columns">
      <%= f.label :author, class: "inline" %><br>
    </div>
    <div class="small-4 columns end">
      <%= f.text_field :author %>
    </div>
  </div>
  <div class="row">
    <div class="small-1 columns">
      <%= f.label :description, class: "inline" %><br>
    </div>
    <div class="small-4 columns end">
      <%= f.text_area :description %>
    </div>
  </div>
  <div class="row">
    <div class="small-1 columns">
      <%= f.label :amazon_id, class: "inline" %><br>
    </div>
    <div class="small-4 columns end">
      <%= f.text_field :amazon_id %>
    </div>
  </div>
    <div class="row">
    <div class="small-1 columns">
      <%= f.label :genres, class: "inline" %><br>
    </div>
    <div class="small-4 columns end">
      <%= f.select :genre_ids, @genres.map { |g| [g.name, g.id]}, {}, { multiple: true } %>
    </div>
  </div>
  <div class="row">
    <div class="small-1 columns">
      <%= f.label :rating, class: "inline"%><br>
    </div>
    <div class="small-4 columns end">
      <% (1..5).each do |rating| %>
        <%= f.radio_button :rating, rating %>
        <label for="book_rating_<%= rating %>" class="right inline"><%= rating %></label>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "button small" %>
  </div>
<% end %>
