<div class="row">
<p id="notice"><%= notice %></p>
<h1>Listing Books</h1>
</div>

<div class="row">
  <div class="small-12 columns">
      <form>
        <div class="small-1 columns">
          <label class="inline left">Search</label>
        </div>
        <div class="small-4 columns end">
          <input type="text" value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' />
        </div>
      </form>
  </div>  
</div>
<div class="row">
  <%= link_to 'New Book', new_book_path, class: "button small" %>
</div>

    <% @books.each do |book| %>
      <div class="row">
        <div class="small-12 columns">
          <div class="small-2 columns">
            <%= image_from_amazon(book.amazon_id) %>
            <p><%= book.rating %>/10</p>
          </div>
          <div class="small-8 columns">
            <p><%= link_to book.title, edit_book_path(book) %></p>
            <p>Written by <%= book.author %></p>
            <p><%= book.description %></p>
          </div>
          <div class="small-2 columns">
            <p>Genres</p>
          </div>
        </div>
      </div>
    <% end %>
<br>

